
#  Probability

## PETE 2061 Lab 5 Workbook 

## THIS IS DUE BY 11:59 PM TODAY

1. Paste the url (or link) to the pete2061 folder in your github account in the "marked down" cell below. <br>

2. **Using the example in "lab5_Probability.ipynb", write a Python code to compute the probabililities of all possible total values that can be obtained from rolling a fair die k times. Read in k using the input() function in Python.**

In [3]:
import itertools
import pandas as pd
k = int(input("How many times do you want to roll the die? "))
print(k)

numList = list(range(1,7))
resultList1 = list(itertools.product(numList,repeat=k)) #this is how we simulate rolling the die twice (or rolling 2 dice)
print(f"Total number of outcomes = {len(resultList1)}")
#print(resultList1)

import numpy as np
resultArray = np.array(resultList1)
sumOutcomes = np.sum(resultArray, axis=1)

df1 = pd.DataFrame({"outcomes":resultList1,"sumOutcomes":sumOutcomes})
df1

by_sumOutcomes = df1.groupby("sumOutcomes")
by_sumOutcomes.describe()
outcomeDF = by_sumOutcomes.count()
outcomes = outcomeDF.values[:,0]
probability = outcomes / np.sum(outcomes)
newDF = pd.DataFrame({"sum":df1["sumOutcomes"].unique(), "outcomes":outcomes, "probability":probability})
newDF

How many times do you want to roll the die? 5
5
Total number of outcomes = 7776

    sum  outcomes  probability
0     5         1     0.000129
1     6         5     0.000643
2     7        15     0.001929
3     8        35     0.004501
4     9        70     0.009002
5    10       126     0.016204
6    11       205     0.026363
7    12       305     0.039223
8    13       420     0.054012
9    14       540     0.069444
10   15       651     0.083719
11   16       735     0.094522
12   17       780     0.100309
13   18       780     0.100309
14   19       735     0.094522
15   20       651     0.083719
16   21       540     0.069444
17   22       420     0.054012
18   23       305     0.039223
19   24       205     0.026363
20   25       126     0.016204
21   26        70     0.009002
22   27        35     0.004501
23   28        15     0.001929
24   29         5     0.000643
25   30         1     0.000129

3. **In class, we discussed the fundamental principle of counting. If there are n1 ways to perform the first operation, n2 ways to perform the second operation, n3 ways to perform the third operation, ..., and nk ways to perform the k-th operation, the total number of ways to perform the k operations is n1(n2)(n3)...(nk). Write a Python code that reads in n1,n2,n3,...,nk as comma-separated values using the input function. Compute the total number of ways to perform the the k operations the user of your program enters. For example, to read in 4 operations with 3,2,1, and 4 outcoumes. You will type "3,2,1,4" after the prompt asks you for the list of outcomes. **

In [13]:
kString = input("Enter comma-seperated values ")
kList = kString.split(",")
kList
prod = 1
for n_i in kList:
    n_iInt = int(n_i)
    prod*= n_iInt
prod

Enter comma-seperated values 4,6,8,9

1728