# PETE 2061 Mid-term Exam (Part 2) 

## THIS IS DUE BY 8:50 AM

## Instructions
* You will be video-monitored, and any violation of the LSU Code of Student Conduct will be reported to the Office of Student Advocacy and Accountability (SAA).
* You may choose to answer either question 1 or 2. If you answer both, I will chose your best score.
* This is an open book exam. You may use cheat sheets, lecture notes and lab notebooks in soft or hard copies. 
* You are not allowed to use cell phones or communicate with anyone over the internet. 
* You can download all lecture materials before the exam starts.
* You are not allowed to start with this section of the finals until the first part is completed.
* Make sure you save often, and be sure you know where the file you are working on is being saved.

1. The Stock-tank Oil Initially In Place (STOIIP) is the amount of oil that is stored in an oil reservoir. Similarly, the Gas Initially In Place (GIIP) is the amount of gas that is stored in a gas reservoir. Assuming that the pore spaces in an oil reservoir are filled with water and oil only, the STOIIP can be estimated using the formula:<br><br>
$STOIIP = 7758 Ah\phi(1-S_{wi})/B_{oi}$ <br><br>
Assuming that the pore spaces in the a gas reservoir are filled with water and gas only, the GIIP can be estimated using the formula:<br><br>
$GIIP = 43560 Ah\phi(1-S_{wi})/B_{gi}$ <br><br>
where $A$ is the area of the reservoir in acres, <br>
$h$ is the reservoir thickness in feet (ft), <br>
$S_{wi}$ is the initial water saturation of the reservoir. It is the ratio of the volume of water initially in the reservoir to the total pore volume in the reservoir. It can either be expressed as a fraction or percentage. <br>
$B_{oi}$ is the initial oil formation volume factor. It is the ratio of the volume of oil at reservoir conditions (measured in units of reservoir barrels, rb) to the volume of oil at standard conditions (measured in units of stock tank barrels, stb). This means that the unit of $B_{oi}$ is $\frac{rb}{stb}$ <br>
$B_{gi}$ is the initial gas formation volume factor. It is the ratio of the volume of gas at reservoir conditions (measured in units of reservoir cubic feet, rcf) to the volume of gas at standard conditions (measured in units of standard cubic feet, scf). This means that the unit of $B_{gi}$ is $\frac{rcf}{scf}$ <br>
$\phi$ is the porosity of the reservoir. It is the ratio of the pore volume to the bulk volume, and can be expressed as a fraction or percentage. <br>
7758 is the conversion factor from acre-ft to rb <br>
43560 is the conversion factor from acre-ft to rcf <br><br>
The parameters for calculating STOIIP and GIIP are given below:<br>
A = 100  $\hspace{22pt}$ # in acres <br>
h = 50 $\hspace{27pt}$ # in feet <br>
$\phi$ = 0.2 $\hspace{19pt}$ # fraction <br>
$S_{wi}$ = 0.2 $\hspace{15pt}$ # fraction <br>
$B_{oi}$ = 1.1 $\hspace{19pt}$ # rb/stb <br>
$B_{gi}$ = 0.005 $\hspace{19pt}$ # rcf/scf <br><br>
    a. **[5 points]** Write a Python code that reads in either "Oil" or "Gas" using the input function, and stores the string typed in by the user into a variable named "reservoirType". <br>
    b. **[10 points]** If the string typed in by the user is "Oil", compute the STOIIP using the equation given, and display the result together with the unit. <br>
    c. **[10 points]** Otherwise, if the string typed in by the user is "Gas", compute the GIIP using the equation given,and display the result together with the unit. <br><br>
    d. **[5 points]** Create a dataframe that contains the following list of thickness (h) in ft: 10,20,30,40,50. <br>
    e. **[10 points]** Update the dataframe in (d) above to contain the STOIIPs corresponding to the list of thickness values in the second column.<br>
    f. **[8 points]** Update the dataframe in (d) above to contain the GIIPs corresponding to the list of thickness values in the third column.<br><br>

In [1]:
area = 100
h = 50
poro = 0.2
s_wi = 0.2
b_oi = 1.1
b_gi = 0.005

model=input("Is model Oil or Gas?: ")
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
if (model == "Oil"):
    stoiip = 7758.0*area*h*poro*(1-s_wi)/b_oi
    print(stoiip, 'stb');
elif (model== "Gas"):
    giip = 43560.0*area*h*poro*(1-s_wi)/b_gi
    print(giip, 'scf');

list_h = [10,20,30,40,50]
list_stoiip = []
list_giip = []
if (model == "Oil"):
    for x in list_h:
        list_stoiip.append(7758.0*area*x*poro*(1-s_wi)/b_oi)
    df=pd.DataFrame({"H":list_h,"STOIIP":list_stoiip})
elif (model== "Gas"):
    for x in list_h:
        list_giip.append(43560.0*area*x*poro*(1-s_wi)/b_gi)
    df=pd.DataFrame({"H":list_h,"GIIP":list_giip})
df

Is model Oil or Gas?: Oil
5642181.818181817 stb

    H        STOIIP
0  10  1.128436e+06
1  20  2.256873e+06
2  30  3.385309e+06
3  40  4.513745e+06
4  50  5.642182e+06

2. The equation to convert from degree celsius (°C) to Farenheit (°F) is given below: <br>
°F = (°C × 9/5) + 32 <br>
The equation to convert from degree celsius (°C) to Kelvin (K) is given below: <br>
K = (°C) + 273.15 <br> 
(a) **[10 points]** Write a Python code that creates an array containing integer temperature values (in °C) between 1 and 100 (that is, 1, 2,3,..., 100). <br><br>
(b) **[15 points]** In a loop, convert only the even temperature values from °C to °F. <br>
(c) **[15 points]** In the same loop, convert only the odd temperature values from °C to K.<br>
(d) **[8 points]** Create a dataframe that contains the temperatures in °F on the first column and the temperatures in K on the second column. The dataframe will look like the table below, and contain 50 rows. <br>
| T in F | T in K |
| ------ | ------ |
|  35.6  | 274.15 |
|  39.2  | 276.15 |
|  42.8  | 278.15 |
|    :   |    :   |
|  212.0 | 372.15 |

    T in F  T in K
0     35.6  274.15
1     39.2  276.15
2     42.8  278.15
3     46.4  280.15
4     50.0  282.15
5     53.6  284.15
6     57.2  286.15
7     60.8  288.15
8     64.4  290.15
9     68.0  292.15
10    71.6  294.15
11    75.2  296.15
12    78.8  298.15
13    82.4  300.15
14    86.0  302.15
15    89.6  304.15
16    93.2  306.15
17    96.8  308.15
18   100.4  310.15
19   104.0  312.15
20   107.6  314.15
21   111.2  316.15
22   114.8  318.15
23   118.4  320.15
24   122.0  322.15
25   125.6  324.15
26   129.2  326.15
27   132.8  328.15
28   136.4  330.15
29   140.0  332.15
30   143.6  334.15
31   147.2  336.15
32   150.8  338.15
33   154.4  340.15
34   158.0  342.15
35   161.6  344.15
36   165.2  346.15
37   168.8  348.15
38   172.4  350.15
39   176.0  352.15
40   179.6  354.15
41   183.2  356.15
42   186.8  358.15
43   190.4  360.15
44   194.0  362.15
45   197.6  364.15
46   201.2  366.15
47   204.8  368.15
48   208.4  370.15
49   212.0  372.15